*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif
}


.row::after{
    content: "";
    display: table;
    clear: both;
    
}

.container-center{
    width: 70%;
    margin: auto;
    max-width: 1180px;

}

 /* STILE H */
h2{
    font-size: 35px;
}

h3{
    font-size: 20px;
}



/* BOTTONI STILE */
.btn{
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.btn.blue{
    background-color: #0061fe;
}

.btn.white{
    background-color: white;
    color: black;
    border: solid 1px black;
}



/* header */

header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1000;

    /* debug */
    /* background-color: red; */
}


header .logo{
    float: left;
    padding-left: 10px;
   
}

.logo img{
    vertical-align: middle;
}

.main-nav.sx{
    float: left;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline;
    vertical-align: middle;
    padding-left: 30px;

}

header ul li a{
    text-decoration: none;
    font-size: 13px;
    color: black;

}

.main-nav.dx{
    float: right;
    padding-right: 10px;
}


/* jumbotron */

#jumbo{
    width: 100%;
    height: 700px;
    background-color: #b4d0e7;
    padding-top: 60px;
    margin-top: 80px;
}

#jumbo h1{
    font-size: 65px;
}

#jumbo .col-sx-jumbo{
    float: left;
    width: 30%;
    margin-right: 10%;
    
}

#jumbo .text-jumbo{
    padding-top: 40px;
    padding-bottom: 20px;
}

#jumbo .jumbo-btn{
    padding-bottom: 20px;
}

#jumbo .caption-btn{
    font-size: 15px;
}

#jumbo .arrow{
    font-size: 40px;
    padding-top: 30px;

}

#jumbo .arrow a{
    color: black;
}


#jumbo .col-dx-jumbo{
    float: left;
    width: 60%;
    padding-top: 40px;
    
}

#jumbo img{
    width: 100%;
    object-fit: cover;
}


/* corpo */

/* piano offerte */

   /* checkbox */


   
#offerts .container-center{
    padding-top: 150px;
    padding-bottom: 80px;
}


   /* colonne */
    
#offerts .row .column{
    float: left;
    width: 28%;
    /* margin-left: 8%; */
    /* height: 885px; */
    /* background-color: yellow; */

}

#offerts .row .column.cen{
    margin-left: 8%;
}

#offerts .row .column.dx{
    margin-left: 8%;
}

#offerts .row .title-col{
    text-align: center;
    padding: 5px 0;
    border: solid 1px #d0d0d3;
}

.bordi-col{
    border: solid 1px #d0d0d3;
    border-top: 0px;
}


#offerts .row .header-col{
    padding: 30px;

}


/* .checkbox */

#offerts .checkbox{
    padding-top: 50px;
    padding-bottom: 40px;

}


#offerts .checkbox input{
    cursor: pointer;
}

#offerts .checkbox .right-check {
    margin-left: 10px;
 
}



#offerts .row .header-col h5{
    margin-top: 10px;
    margin-bottom: 7px;
    
}


#offerts .row .header-col span{
    font-size: 15px;
    color: #84919b;
}

#offerts .row .list-col ul{
    padding: 30px;
    font-size: 13px;
    list-style-type: none;
}

#offerts .row .list-col ul li{
    padding: 7px 0;
}

#offerts .row .btn-col{
    /* text-align: center; */
    padding: 0 30px;
}

/* #offerts .row .btn-col .btn.blue{
    padding: 6px 37px;

} */

#offerts .row .list-link{
    padding: 0 30px;
    margin: 20px 0;
    font-size: 13px;

}

#offerts .row .list-link a{
    color: #0061fe;
}

#offerts .row .line{
    width: 100%;
    color: black;
    font-size: 30px;
}

#offerts .list-col.low li i{
    color: #0061fe;
}

#offerts .bordi-col .h5{
    margin-left: 30px;
}





#offerts .row .list-col.low{
    margin-bottom: 50px;
}

/* entreprise */

#entreprise{
    margin-bottom: 100px;
}


#entreprise .team{
    width: 100%;
    height: 35px;
    /* background-color: red; */
    text-align: center;
    padding: 5px;
    border: solid 1px #d0d0d3;
}

#entreprise .col-sx{
    float: left;
    width: 70%;
    height: 200px;
    /* background-color: yellow; */
    padding: 30px;
}

#entreprise .col-sx h5{
    margin: 10px 0;
}

#entreprise .col-sx span{
    font-size: 13px;
}

#entreprise .col-dx{
    float: left;
    width: 30%;
    height: 200px;
    /* background-color: blue; */
}

#entreprise .entreprise-btn{
    padding: 30px;
    text-align: center;
}

#entreprise .col-dx .btn.blue{
    padding: 6px 37px;

}

/* section partner */

#partner{
    margin-bottom: 90px;
}

#partner .col-sx{
    float: left;
    width: 50%;
    margin-right: 5%;
    object-fit: contain;
    /* background-color: red; */
}

#partner .col-dx{
    float: left;
    width: 45%;
    /* height: 400px; */
    /* background-color: blue; */
}

#partner .col-sx img{
   max-width: 100%;
   
}

#partner .col-dx .text-col{
    padding-top: 40px;
}

#partner .col-dx .text-col p{
    margin-top: 20px;
}

#partner .col-dx .btn-col{
    margin-top: 20px;

}

/* operazioni */

#operazioni{
    margin-bottom: 40px;

}

#operazioni .row{
    margin-bottom: 80px;
}


#operazioni h2{
    margin-bottom: 40px;
}

#operazioni .col-sx{
    float: left;
    width: 28%;
    margin-right: 8%;
    /* height: 100px; */

    /* background-color: green; */

}

#operazioni .col-cen{
    float: left;
    width: 28%;
    margin-right: 8%;

    /* height: 100px; */
    /* background-color: yellow; */

}

#operazioni .col-dx{
    float: left;
    width: 28%;

    /* height: 100px; */
    /* background-color: red; */

}

#operazioni  .img-opera{
    object-fit: contain;
    width: 100%;
    /* height: 100px; */
}


#operazioni .caption-opt p{
    margin-top: 20px;
    
}

/* sezione tems */

#team{
    margin-bottom: 40px;
}

#team h2{
    width: 60%;
    padding-top: 40px;
    padding-bottom: 20px;
}


#team .link-team{
    color: #0061ff;
}

/* sezione carousel */

#tab-loghi{
    width: 100%;
    background-color:#f5f5f5;
}

#tab-loghi .small-col{
    float: left;
    width: 15%;
}

#tab-loghi .small-col .square{
    height: 32vh;
    position: relative;

}

#tab-loghi .small-col .square img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);

}

#tab-loghi .small-col .square.designit{
    background-color:#a2d39b;

}

#tab-loghi .small-col .square.florida{
    background-color: #0093ce;
}

#tab-loghi .small-col .square.arizona{
    background-color:#61082b;

}

#tab-loghi .small-col .square.topps{
    background-color:#ff1c1c;

}

#tab-loghi .small-col .square.world{
    background-color:#d5001f;

}

#tab-loghi .small-col .square.lonely{
    background-color:#0d2481;

}

#tab-loghi .small-col .square.hearst{
    background-color:#b4d0e7;

}

#tab-loghi .small-col .square.clear{
    background-color:#ffd830;

}



#tab-loghi .big-col{
    float: left;
    width: 40%;
    height: 400px;
    overflow-y: auto;
    /* height: 400px; */
    /* background-color: blue; */
}

#tab-loghi .big-col .caption{
    height: 100%;
    padding: 40px; 
}

#tab-loghi .big-col img{
    object-fit: cover;
    width: 25%;
    margin-bottom: 60px;
}

#tab-loghi .big-col p{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 30px;
}









/* seziona porta dropbox */

#porta-drop {
    width: 100%;
    height: 300px;
    background-color: #b4d0e7;
}


#porta-drop .col-sx{
    float: left;
    width: 50%;
    margin-top: 105px;
    /* height: 100px; */

}

#porta-drop .col-sx h2{
    color: #61082b;
}

#porta-drop .col-dx{
    float: left;
    width: 50%;
    margin-top: 105px ;
    /* height: 100px; */
    text-align: right;
}

#porta-drop .btn.white.large{
    border: none;
    padding: 4px 45px;
    font-weight: 500;
}

/* sezione faq */

#faq h3{
    padding-top: 80px;
    font-size: 30px;
    margin-bottom: 40px;
}

#faq .row{
    border-top: solid 1px #ebebec;

}

#faq .row.last{
    border-bottom: solid 1px #ebebec;
    margin-bottom: 80px;
}


#faq .col-sx{
    float: left;
    width: 90%;
    margin-right: 5%;
    
    /* height: 30px; */
    /* background-color: blue; */
}

#faq .col-sx p{
    padding: 35px 0;
    font-size: 15px;
    font-weight: bold;
}

#faq .col-dx{
    float: left;
    width: 5%;
    height: 30px;
    /* background-color: red; */
    text-align: center;
}

#faq .col-dx i{
    padding: 35px 0;
    color: black;

}


/* footer */

footer{
    width: 100%;
    /* height: 400px; */
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

footer .container-footer{
    width: 80%;
    margin: auto;
    max-width: 1180px;
}

footer .col{
    float: left;
    width: 16%;
    margin-right: 5%;
    /* height: 300px; */
    margin-top: 80px;
    /* background-color: yellow; */

}

footer .col h4{
    margin-bottom: 20px;
}

footer .col ul{
    font-size: 13px;
    list-style-type: none;
}

footer .col ul li{
    margin: 8px 0;
    font-size: 12px;
}

footer .col ul li a{
    text-decoration: none;
    color: white;
}





footer .col.last{
    margin-right: 0%;
}

footer .bottom-footer{
    width: 10%;
    border-top: solid 1px #717171;
    padding-top: 30px;
    margin-top: 100px;

}

footer .bottom-footer span{
    color: #717171;
    font-size: 12px;
}

footer .bottom-footer span a{
    color: #717171;
}
















  















