*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif
}

.row::after{
    content: "";
    display: table;
    clear: both;
    
}

.container-center{
    width: 80%;
    margin: auto;
    max-width: 1180px;

}

/* header */



header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* position: fixed; */
    z-index: 1000;

    /* debug */
    /* background-color: red; */
}


header .logo{
    float: left;
    padding-left: 10px;
   
}

.logo img{
    vertical-align: middle;
}

.main-nav.sx{
    float: left;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline;
    vertical-align: middle;
    padding-left: 30px;

}

header ul li a{
    text-decoration: none;
    font-size: 13px;

}

.main-nav.dx{
    float: right;
    padding-right: 10px;
}

.btn{
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.btn.blue{
    background-color: #0061fe;
}

/* jumbotron */

#jumbo{
    width: 100%;
    height: 700px;
    background-color: #b4d0e7;
    padding-top: 60px;
   
}

#jumbo h1{
    font-size: 65px;
}

#jumbo .col-sx-jumbo{
    float: left;
    width: 30%;
    margin-right: 10%;
    
}

#jumbo .text-jumbo{
    padding-top: 40px;
    padding-bottom: 20px;
}

#jumbo .jumbo-btn{
    padding-bottom: 20px;
}

#jumbo .caption-btn{
    font-size: 15px;
}

#jumbo .arrow{
    font-size: 40px;
    padding-top: 30px;
}


#jumbo .col-dx-jumbo{
    float: left;
    width: 60%;
    padding-top: 40px;
   object-fit: cover;
    
}

#jumbo img{
    width: 100%;
}


/* corpo */

/* piano offerte */

   /* checkbox */


   
#offerts .container-center{
    padding-top: 150px;
    padding-bottom: 80px;
}

#offerts h2{
    font-size: 40px;
}


#offerts .checkbox{
    padding-top: 50px;
    padding-bottom: 40px;

}

   /* colonne */
    
#offerts .row .column{
    float: left;
    width: 28%;
    /* margin-left: 8%; */
    /* height: 885px; */
    /* background-color: yellow; */

}

#offerts .row .column.cen{
    margin-left: 8%;
}

#offerts .row .column.dx{
    margin-left: 8%;
}

.row .title-col{
    text-align: center;
    padding: 5px 0;
    border: solid 1px #d0d0d3;
}

.row .bordi-col{
    border: solid 1px #d0d0d3;
    border-top: 0px;
}


.row .header-col{
    padding: 30px;
}

h3{
    font-size: 25px;
}

.row .header-col h5{
    padding: 10px 0;
}

.row .header-col span{
    font-size: 15px;
    color: #84919b;
}

.row .list-col ul{
    padding: 30px;
    font-size: 13px;
    list-style-type: none;
}

.row .list-col ul li{
    padding: 7px 0;
}

.row .btn-col{
    text-align: center;
    padding: 0 30px;
}

.row .btn-col .btn.blue{
    padding: 6px 43px;

}

.row .list-link{
    padding: 0 30px;
    margin: 20px 0;
    font-size: 13px;

}

.row h5{
    margin-top: 20px;
    padding: 0 30px;
}

.row .list-col.low{
    margin-bottom: 50px;
}

/* entreprise */

#entreprise .team{
    width: 100%;
    height: 35px;
    background-color: red;
    text-align: center;
    padding: 5px;
}

#entreprise .col-sx{
    float: left;
    width: 70%;
    height: 200px;
    background-color: yellow;
}

#entreprise .col-dx{
    float: left;
    width: 30%;
    height: 200px;
    background-color: blue;
}













